#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-1 {
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.label-1 {
  display: block;
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
